body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
}

.content {
    margin: 0 200px;
}

.section.one,
.five {
    background-color: #1F2937;
}

.section.three {
    background-color: #E5E7EB;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
}

a {
    text-decoration: none;
}