body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
}

.content {
    margin: 0 250px;
}

.headline {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

.section.one,
.five {
    background-color: #1F2937;
}

.section.three {
    background-color: #E5E7EB;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.hero {
    padding: 100px 0;
    display: flex;
}

.hero-left {
    margin: 10px 0;
    width: 500px;
}

.main-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero .text {
    font-size: 18px;
    color: #E5E7EB;
}

.sign-up1 {
    margin-top: 10px;
    width: 125px;
    height: 35px;
    font-weight: bold;
    background-color: #3882F6;
    color: #F9FAF8;
    border: 0;
    border-radius: 5px;
    font-size: 18px;
}

.hero img {
    margin-left: 50px;
}

.info {
    display: flex;
    flex-direction: column;
}

.info-head {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin: 50px 0;
}

.images {
    display: flex;
    justify-content: center;
    gap: 50px;
    text-align: center;
    margin-bottom: 100px;
}

.info-box {
    width: 150px;
    color: #1F2937;
}

.info-box img {
    width: 150px;
    height: 150px;
    border: 3px solid #3882F6;
    border-radius: 10px;
}

.quote-container {
    display: flex;
    flex-direction: column;
    padding: 100px 150px;
}

.quote {
    font-weight: lighter;
    font-style: italic;
    font-size: 36px;
}

.author {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    font-size: 24px;
    margin-right: 5px;
    margin-top: 5px;
}